<header class="app-header">
    <div class="app-container flex justify-between items-center">
      <div class="app-logo">
        <img src="https://storage.googleapis.com/lazy-icons/not-found-placeholder.webp" class="app-logo-image">
        <a href="/health" class="app-title">Aegis-IA</a>
      </div>
      <div class="hidden md:block ml-auto">
        {% include 'partials/_mobile_header.html' %}
       
      </div>
    </div>
    <script src="static/js/header_dom.js" type="module"></script>
  </header>