<nav
	class="navbar navbar-dark navbar-expand-lg navbar-primary bg-primary sticky-top"
>
	<div class="container">
		<a class="navbar-brand" href="#">
			<img
				src="{{ url_for('static', filename='assets/logo.jpeg') }}"
				alt="Logo"
				height="30"
				width="30"
			/>
		</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarNav"
			aria-controls="navbarNav"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav ms-auto">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="/"
						><i class="fas fa-home"></i> Inicio</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/wallet">
						<i class="fas fa-wallet"></i> Wallet</a
					>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/referrals">
						<i class="fas fa-users"></i> Referral
					</a>
				</li>
				{% if is_admin %}
				<li class="nav-item">
					<a class="nav-link" href="/admin/panel">
						<i class="fas fa-user-shield"></i> Admin
					</a>
				</li>
				{% endif %}
				<li class="nav-item">
					<a class="btn btn-danger" href="{{ url_for('auth.logout')}}"
						>Log out</a
					>
				</li>
			</ul>
		</div>
	</div>
</nav>
