{% import 'partials/_symbol_search_bar.html' as symbol_search_bar %}
{% import 'partials/_account_balance.html' as acc_balance %}
{% import 'partials/_trading_order_maker.html' as trading_order_maker %}
   
<!-- Trading Controls Component -->
<div class="card shadow-sm mb-4">
    <div class="card-body">
        <!-- Top Tabs (Spot, Cross, etc.) -->
        <ul class="nav nav-tabs mb-3" id="tradeTypeTab" role="tablist">
            <li class="nav-item" role="presentation">
                <button class="nav-link active" id="spot-tab" data-bs-toggle="tab" data-bs-target="#spot-tab-pane" type="button" role="tab" aria-controls="spot-tab-pane" aria-selected="true">{{ _('Kraken Spot') }}</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="futures-tab" data-bs-toggle="tab" data-bs-target="#futures-tab-pane" type="button" role="tab" aria-controls="futures-tab-pane" aria-selected="false">{{ _('Kraken Futures') }}</button>
            </li>
           <li class="nav-item" role="presentation">
                <button class="nav-link" id="bingx-spot-tab" data-bs-toggle="tab" data-bs-target="#bingx-spot-tab-pane" type="button" role="tab" aria-controls="bingx-spot-tab-pane" aria-selected="false">{{ _('Bingx Spot') }}</button>
            </li>
             <li class="nav-item" role="presentation">
                <button class="nav-link" id="bingx-futures-tab" data-bs-toggle="tab" data-bs-target="#bingx-futures-tab-pane" type="button" role="tab" aria-controls="bingx-futures-tab-pane" aria-selected="false">{{ _('Bingx Futures') }}</button>
            </li>
        </ul>
        <div class="tab-content" id="tradeTypeTabContent">
            <!-- Spot Tab -->
            <div class="tab-pane fade show active" id="spot-tab-pane" role="tabpanel" aria-labelledby="spot-tab" tabindex="0">
                {{ symbol_search_bar.render_symbol_bar('spot', 'kraken-spot') }}
                {{ acc_balance.render_account_balance('spot', 'kraken-spot') }}
                {{ trading_order_maker.render_trading_order_maker('spot', 'kraken-spot') }}
            </div> 
            <!-- End Spot Tab Pane -->

            <!-- Placeholder Kraken 🐙 -->
            <div class="tab-pane fade" id="futures-tab-pane" role="tabpanel" aria-labelledby="futures-tab" tabindex="0">
                {{ symbol_search_bar.render_symbol_bar('futures', 'kraken-futures') }}
                {{ acc_balance.render_account_balance('futures', 'kraken-futures') }}
                {{ trading_order_maker.render_trading_order_maker('futures', 'kraken-futures') }}
            </div>

            <!-- Placeholder Kraken 🐙 -->

            <!-- Bingx Spot 🔷 -->
            <div class="tab-pane fade" id="bingx-spot-tab-pane" role="tabpanel" aria-labelledby="bingx-spot-tab" tabindex="0">
                {{ symbol_search_bar.render_symbol_bar('bingx-spot', 'bingx-spot') }}
                {{ acc_balance.render_account_balance('bingx-spot', 'bingx-spot') }}
                {{ trading_order_maker.render_trading_order_maker('spot', 'bingx-spot') }}
            </div>
            <!-- Bingx Spot 🔷 -->

             <!-- Bingx Futures 🔷⏰ -->
            <div class="tab-pane fade" id="bingx-futures-tab-pane" role="tabpanel" aria-labelledby="bingx-futures-tab" tabindex="0">
                {{ symbol_search_bar.render_symbol_bar('bingx-futures', 'bingx-futures') }}
                {{ acc_balance.render_account_balance('bingx-futures', 'bingx-futures') }}
                {{ trading_order_maker.render_trading_order_maker('futures', 'bingx-futures') }}
            </div>
            <!-- Bingx Futures 🔷⏰ -->
       
        </div> <!-- End Tab Content -->
    
        <!-- Trades Table -->
        <div class="mt-4"  style="max-height: 500px; overflow-y: scroll;">
            <h3 class="font-medium mb-2">{{ _('Recent Trades') }}</h3>
            <table class="table ">
                <thead>
                    <tr>
                        <th>{{ _('Date') }}</th>
                        <th>{{ _('Order Type') }}</th>
                        <th>{{ _('Direction') }}</th>
                        <th>{{ _('Symbol') }}</th>
                        <th class="text-end">{{ _('Price') }}</th>
                        <th class="text-end">{{ _('Volume') }}</th>
                        <th>{{ _('Status') }}</th>
                        <!-- <th class="text-end">{{ _('Stop Loss') }}</th>
                        <th class="text-end">{{ _('Take Profit') }}</th> -->
                        <th>{{ _('Exchange') }}</th>
                        <th>{{ _('Stop Loss') }}</th>
                        <th>{{ _('Take profit') }}</th>
                        <th>{{ _('Leverage') }}</th>
                        <th>{{ _('Comment') }}</th>
                    </tr>
                </thead>
                <tbody id="user-trade-history-body">
                    <!-- Trade history will be populated here -->
                    <tr>
                        <td colspan="6" class="text-center">{{ _('No trades found') }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div> 
    <!-- End Card Body -->
</div> <!-- End Card -->

<!-- Add component-specific JavaScript -->
<script src="{{ url_for('static', filename='js/partials/trading_component.js') }}"></script>
