<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="/">
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="stylesheet" href="/static/css/chart.css" />
    <title>Aegis-IA</title>

    <script type="text/javascript" src="https://s3.tradingview.com/tv.js"></script>

  </head>
  <body>
    
    {% include 'partials/_header.html' %}
    {% if error %}
    <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-3 rounded relative" role="alert">
      <span class="block sm:inline">{{ error }}</span>
    </div>
    {% endif %}


    <div class ="content-body">

      <div class="main-content">

            <div class="flex justify-between items-start p-4">
              <div class="flex space-x-4">
      
                <div class="relative">
                  <button id="investment-btn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    Inversion
                  </button>
                </div>
      
                <div class="relative">
                  <button id="generate-referral-btn" class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded">
                    Generar Link de Referido
                  </button>
                  <script src="/static/js/classes.js"></script>
                </div>
              </div>

              <div class="account-balance-container bg-gray-100 p-4 rounded shadow-lg">
                <select id="get-balance" class="w-full p-2 border rounded" >
                  <option value="usd"> 
                      <h2 class="text-xl font-bold mb-4">Balance de Cuenta</h2>
                  </option>
                  <!-- <option value="eur">
                    <div class="balance-item">
                      <span class="asset"></span>
                    </div>
                  </option> -->
                </select>
              </div>
            </div>
      
            <div class="hero-section text-center py-4">
              <h1 class="text-4xl font-bold mb-2">Welcome to Aegis-IA</h1>
              <p class="text-lg mb-2">Leverage the power of AI for smarter trading decisions.</p>
            </div>
            <div class="crypto-section bg-gray-100 p-4 rounded mb-8">
              <h2 class="text-2xl font-bold mb-4">Cryptocurrencies</h2>
              <button id="change-mode-btn" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" style="display:  none;"></button>
              <div class="flex items-center mb-4 flex-wrap flex-col">
                <!-- Aqui va la barra de busqueda -->
                <div class="flex items-center mb-4 flex-wrap gap-3">
                 <!--  <input type="submit" id="fetchCryptos" value="Buscar cryptos" class="bg-blue-500 text-white px-4 py-2 rounded mr-2"> -->

                  <div class="relative flex-grow">
                    <input type="text" id="crypto-search" class="w-full pl-10 pr-2 py-2 border rounded" placeholder="Search cryptos...">
                  </div>
  
                </div>
                <!-- Aqui va la lista de cryptos -->
                <ul  id="crypto-list" class="list-none"></ul>
              </div>
            
            </div>
            <div id="tradingview_chart" class="w-full h-96 mb-4"></div>

            <!-- Include Trading Component -->
            <section>
              {% include 'partials/_trading_component.html' %}
            </section>

            <section>
              {% include 'partials/_trading_bot.html' %}
            </section>

            
            <!-- Aqui va la tabla con los datos historicos del activo escogido -->
          <!-- En tu home.html, dentro del div con id="historic-data" -->
          <div id="historic-data">
            <article>
              <h2 id="historic-data-h2" class="text-2xl font-bold mb-4">Historial de Mercado</h2>
              <div class="table-container"> <!-- Contenedor con scroll interno -->
                
                <!-- Títulos de la tabla -->
                <div class="table-header">
                  <table class="thead">
                    <thead class="bg-gray-100">
                      <tr>
                        <th class="py-3 px-4 border-b text-left">Fecha-Hora</th>
                        <th class="py-3 px-4 border-b text-left">Open</th>
                        <th class="py-3 px-4 border-b text-left">High</th>
                        <th class="py-3 px-4 border-b text-left">Low</th>
                        <th class="py-3 px-4 border-b text-left">Close</th>
                        <th class="py-3 px-4 border-b text-left">VWAP</th>
                        <th class="py-3 px-4 border-b text-left">Volumen</th>
                        <th class="py-3 px-4 border-b text-left">Count</th>
                      </tr>
                    </thead>
                  </table>
                </div>
                
                <!-- Contenido de la tabla con scroll -->
                <div class="table-content">
                  <table class="tbody">
                    <tbody id="historic-table-body">
                      <!-- Aquí se insertarán las filas dinámicamente -->
                    </tbody>
                  </table>
                </div>
                
              </div>
            </article>
        </div>
      </div>
    </div>
          

      <!-- Include Trading Bot Strategies -->
        <div >
          {% include 'partials/_trading_bot_strategies.html' %}
        </div>

        <div class="placeholder-area bg-gray-100 p-4 rounded">
          <h2 class="text-2xl font-bold mb-2">Future Features</h2>
          <ul class="list-disc list-inside">
            <li>Advanced strategy management and analysis</li>
            <li>Real-time market data visualization</li>
          </ul>
        </div>
        
      
      <!-- <script type="text/javascript" src="/static/js/chart.js" defer></script> -->
      <script src="/static/index_dom.js" type="module"></script>
   
      <!-- The trading_bot.js script is now loaded by the _trading_bot.html partial -->
    </div>


<script>
async function placeOrder(orderDirection) {
  const orderTypeInput = document.getElementById('order-type')
  const volumeInput = document.getElementById('volume')
  const symbol = localStorage.getItem("symbol");
  const tradingMode = localStorage.getItem("method");
  
  // check valid values
  if (!orderTypeInput.value || !orderDirection || !volumeInput.value || !symbol) {
    alert("Por favor, complete todos los campos.");
    return;
  }

  // call api
  const orderData = {
        orderType: orderTypeInput.value,
        orderDirection: orderDirection,
        volume: volumeInput.value,
        symbol: symbol,
        trading_mode: tradingMode

      }

      // Add loading state
      const btnsContainer = document.querySelector(".orders-tbn-container");
      const loadingDiv = document.createElement("div");
      loadingDiv.classList.add("loading");
      loadingDiv.textContent = "Enviando orden...";
      btnsContainer.appendChild(loadingDiv);

      // Disable buttons
      const ordersBtns = document.querySelectorAll(".order-btn");
      ordersBtns.forEach((btn) => {
        btn.disabled = true;
      });

      try {


          const response = await fetch("/add_order", {
          method: "POST",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(orderData)
        });

        const result = await response.json();

        if (result.error) {
          throw new Error(result.error);
        }

        alert("Orden enviada exitosamente.");
      } catch (error) {
        alert(error)
        console.error("Error al enviar la orden:", error);
      } finally {
        loadingDiv.remove();

        // Enable buttons
        ordersBtns.forEach((btn) => {
          btn.disabled = false;
        });
      }

}

</script>
    
<script>
  // change change mode button text depend on current method mode (futures or spot)

  function renderChangeModeBtn() {
    const changeModeBtn = document.getElementById('change-mode-btn')
    const currentMode = localStorage.getItem('method')
    if (currentMode === 'futures') {
      changeModeBtn.textContent = 'Change to Spot'
    } else {
      changeModeBtn.textContent = 'Change to Futures'
    }

    // update crypto list
    updateCryptoList()
  }

  const changeModeBtn = document.getElementById('change-mode-btn')
  changeModeBtn.addEventListener('click', () => {
    const currentMode = localStorage.getItem('method')
    if (currentMode === 'futures') {
      localStorage.setItem('method', 'spot')
      renderChangeModeBtn()
    } else {
      localStorage.setItem('method', 'futures')
      renderChangeModeBtn()
      const symbol = localStorage.getItem('symbol')
      if (symbol) {
        changeTradingViewSymbol(symbol)
    }
    }  
  }
  )
  renderChangeModeBtn()

  const fetchCryptosBtn = document.getElementById('fetchCryptos')
  const input = document.getElementById('crypto-search')
  
  function changeTradingViewSymbol(newSymbol) {
    // check if it is in valid format (without :)
    if (newSymbol.includes(':')) {
        newSymbol = newSymbol.replace(':', '');
    }
    if (window.tvWidget) {
      window.tvWidget.handleSymbolChange(newSymbol);
      window.get_historical_data(newSymbol)
    } else {
      console.error('TradingView widget instance not found');
    }
  }


    async function getCryptos() {
        // get cryptos 
      const res = await fetch(`{{url_for('routes.get_cryptos')}}`, {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          trading_mode: localStorage.getItem("method"),
          exchange_name: localStorage.getItem("method"),
        }),
      })

      const json = await res.json()
      return json.cryptos
    }

    async function updateCryptoList(cryptoSymbol) {
      const cryptoList = document.getElementById('crypto-list')
      const cryptos = await getCryptos()

      if (!cryptos) alert("Error getting cryptos")
      
      cryptos.forEach(crypto => {
        const li = document.createElement('li')
        li.classList.add('flex', 'justify-between', 'mb-2')
        const span = document.createElement('span')
        const spanPrice = document.createElement('span')
        const spanExchangeType = document.createElement('span')

        span.textContent = crypto.symbol
        spanPrice.textContent = crypto.price

        li.addEventListener('click', () => {
          changeTradingViewSymbol(crypto.symbol)

          // TODO: move to another side
          // update market price UI
          updateBuyMarketPrice(crypto.symbol)
        })

        li.appendChild(span)
        li.appendChild(spanPrice)
        cryptoList.appendChild(li)

        
      });
    }


    // Filter crypto list based on search input
    input.addEventListener('input', (e) => {
      const searchTerm = e.target.value.toLowerCase()
      const cryptoItems = document.querySelectorAll('#crypto-list li')
      
      cryptoItems.forEach(item => {
        const cryptoName = item.querySelector('span:first-child').textContent.toLowerCase()
        if (cryptoName.includes(searchTerm)) {
          item.style.display = 'flex'
        } else {
          item.style.display = 'none'
        }
      })
    })

    document.addEventListener('DOMContentLoaded', () => {
      updateCryptoList()
      const symbol = localStorage.getItem("symbol");
    })
</script>
  </body>
   
</html>
